/* my framework */
/*  style={{ color: `deeppink` }} */
/* <span className="why-us">1</span> */
/* <code dir="ltr" className="code"> display: grid; </code> */
/* &nbsp; == space  */
/* &lt;   ==    <   */
/* &gt;   == > */
/* &#123; == {} */
/* <span role="img" aria-label="hahaha">&#128514;</span> */
/* <span role="img" aria-label="love emoji">&#128525;</span> */
/* <span role="img" aria-label="heart emoji">&#129505;</span> */
/* <span role="img" aria-label="emoji"> &#128071;  70 أعلى</span> */
/* <span role="img" aria-label="warning" 
className="warning">&#9888;</span>  */

/* الفانوس */

.Header__fanos {
    position: absolute;
    top: -80px;
    right: 4vw;
    width: 70px;
    font-size: 10px;
    transform-origin: top;
    animation: swing 1s ease-in-out infinite alternate;
  }
  
  @keyframes swing {
    0% {
      transform: rotate(-3deg);
    }
    to {
      transform: rotate(3deg);
    }
  }
  
  .fanl {
    left: 4vw;
  }
  
  @media (max-width: 600px) {
    .Header__fanos {
      right: -2vw;
    }
    .fanl {
      left: -2vw;
    }
  }
  
  .blue {
    color: royalblue;
    font-weight: bold;
  }
  
  .blue-dark {
    color: royalblue;
    font-weight: bold;
  }
  
  .dark .blue-dark {
    color: antiquewhite;
  }
  
  .bluegold {
    color: royalblue;
    margin: 1rem;
  }
  
  .dark .bluegold {
    color: antiquewhite;
  }
  
  .dark .gold {
    color: antiquewhite;
  }
  
  .inline-block {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .fl {
    float: left;
    position: relative;
    bottom: 9px;
    color: #fff;
    font-weight: bold;
  }
  
  .fr {
    float: right;
    position: relative;
    bottom: 9px;
    color: #fff;
    font-weight: bold;
  }
  
  .source {
    cursor: pointer;
  }
  
  .table-2col {
    width: 50%;
    border-radius: 15rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  
  .divvid {
    text-align: center;
    margin: 4rem 0;
  }
  
  .divvid .mybtn {
    font-size: 1.6rem;
  }
  
  .videoarticle {
    width: 90%;
    height: 45rem;
    border-radius: 1.2rem;
    border: 2px solid #777;
    margin: 2rem 0;
  }
  
  @media (max-width: 600px) {
    .table-2col {
      width: 96%;
    }
    .videoarticle {
      width: 98%;
      height: 20rem;
      border-radius: 1.2rem;
      border: 2px solid #777;
    }
  }
  
  .source:hover {
    font-weight: bolder;
    border-bottom: 2px solid rgb(252, 67, 100);
  }
  
  .left-section-course {
    width: 50%;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 576px) {
    .left-section-course {
      float: none;
      width: 100%;
    }
  }
  
  .no-style {
    list-style: none;
    font-weight: normal;
  }
  
  .source-right {
    float: right;
    font-weight: 400;
    margin-right: 2rem;
  }
  
  .source-left {
    display: inline-block;
    font-weight: 400;
    margin-left: 2rem;
  }
  
  .dark .source-left,
  .dark .source-right {
    color: #faebd7;
  }
  
  .in-this-course {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: royalblue;
  }
  
  .dark .in-this-course {
    color: antiquewhite;
  }
  
  @media (max-width: 1148px) {
    .source-right {
      float: none;
      margin-top: 3rem;
    }
    .source-left {
      margin-left: 0;
    }
  }
  
  .w3org {
    margin-left: 3rem;
    color: #333;
    font-size: x-large;
  }
  
  .dark .w3org {
    color: white;
  }
  
  .dark .w3schools {
    color: white;
  }
  
  .w3schools {
    margin-left: 3rem;
    color: #333;
    font-size: x-large;
  }
  
  .hidden {
    display: none;
  }
  
  .mt {
    margin: 0.5em;
  }
  
  .mb {
    margin-bottom: 25px !important;
  }
  
  .mtt {
    margin-top: 1rem;
  }
  
  .mttt {
    margin-top: 1.5rem;
  }
  
  .mtttt {
    margin-top: 2rem !important;
  }
  
  .center {
    text-align: center;
  }
  
  .dark {
    background-color: #2d2d2d;
    color: white;
  }
  
  @media (max-width: 990px) {
    .showBig {
      display: none;
    }
  }
  
  /*  prism file */
  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.3;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  
  /* Code blocks */
  
  pre[class*="language-"] {
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 1em 0.5rem;
    overflow: auto;
    border-radius: 0.5em;
  }
  
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #2d2d2d;
    border: 1px solid lightpink;
    border-bottom: 2px solid lightpink;
    overflow-x: auto;
    font-weight: normal;
  }
  
  /* Inline code */
  
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.5em;
    white-space: normal;
  }
  
  /* .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
      color: slategray;
  } */
  
  .token.punctuation {
    color: #f8f8f2;
  }
  
  .token.namespace {
    opacity: 0.7;
  }
  
  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #fc4364;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.04em;
  }
  
  @media (max-width: 500px) {
    .token.property,
    .token.tag,
    .token.constant,
    .token.symbol,
    .token.deleted {
      font-size: 16px;
    }
  }
  
  .token.boolean,
  .token.number {
    color: #ae81ff;
  }
  
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #a6e22e;
  }
  
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }
  
  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: #e6db74;
  }
  
  .token.keyword {
    color: #66d9ef;
  }
  
  .token.regex,
  .token.important {
    color: #fd971f;
  }
  
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  
  .token.italic {
    font-style: italic;
  }
  
  .token.entity {
    cursor: help;
  }
  
  mark {
    background-color: #fc4364;
    color: #fff;
    margin: 0.5rem;
    padding: 3px 6px;
    border-radius: 0.5rem;
    display: inline-block;
  }
  
  .dark mark {
    box-shadow: 0 7px 93px 0 rgba(255, 131, 131, 0.47);
  }
  
  .dark .html-sidebar {
    scrollbar-color: #9e4673 rgba(255, 131, 131, 0.08);
  }
  
  li:focus {
    border-bottom: 2px solid #fc4364;
  }
  
  .warning {
    font-size: 2.5rem;
    color: #fc4364;
    position: relative;
    top: 0.3rem;
    padding: 0.6rem;
  }
  
  /* 1- Header */
  
  /* .ul-hidden:hover > ul{
  display: block;} */
  
  /* end header */
  
  /* 2- our goal */
  
  .right-section {
    text-align: center;
    width: 50%;
  }
  
  .left-section {
    text-align: center;
    width: 50%;
  }
  
  .pic {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    height: 10rem;
    text-align: center;
    margin-top: 1rem;
    animation: radiuscol 3s infinite;
  }
  
  .dark .pic {
    box-shadow: 5px -7px 20px 0 rgba(255, 131, 131, 0.47);
  }
  
  @keyframes radiuscol {
    0%,
    100% {
      border-right: 2px solid #ff8a00;
      border-left: 2px solid #ff8a00;
      border-bottom: 2px solid #e52e71;
      border-top: 2px solid #e52e71;
    }
    50% {
      border-bottom: 2px solid #ff8a00;
      border-top: 2px solid #ff8a00;
      border-left: 2px solid #e52e71;
      border-right: 2px solid #e52e71;
    }
  }
  
  .left-section .btn {
    margin: 1rem;
    border-radius: 0.5rem;
  }
  
  .name {
    margin: 1.1rem auto;
    height: 1.7rem;
    text-align: center;
    border: none;
    border-radius: 8px;
    display: block;
  }
  
  .goal-title {
    font-size: 2rem;
    color: deeppink;
    margin: 3rem 0 1rem 0;
  }
  
  .dark .goal-title {
    color: antiquewhite;
  }
  
  @media (max-width: 576px) {
    .right-section,
    .left-section {
      float: none;
      width: 100%;
    }
    .pic {
      margin-top: 3rem;
    }
  }
  
  /* end our goal */
  
  /* 3- why us */
  
  
  
  .why-us {
    background-color: #fc4364;
    padding: 0.1rem 0.45rem;
    color: white;
    border-radius: 0.5rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 7px 93px 0 rgba(255, 131, 131, 0.47);
  }
  
  
  
  .last {
    margin-bottom: 6rem;
  }
  
  @media (max-width: 400px) {
    .check {
      font-size: 1rem;
    }
    .last {
      margin-bottom: 4rem;
    }
    .box {
      font-size: 1.2rem;
    }
  }
  
  
  /* general */
  
  li {
    margin-top: 0.25em;
  }
  
  html a {
    text-decoration: none;
    color: inherit;
  }
  
  .card {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.25);
    width: 98%;
    margin: 0 auto;
    border-radius: 1rem;
    height: 100%;
    padding: 1%;
    overflow: auto;
    animation: cardmove 5s infinite linear;
  }
  
  .dark .card {
    box-shadow: 0 7px 93px 0 rgba(255, 131, 131, 0.47);
    background-color: rgba(255, 131, 131, 0.08);
    animation: none;
  }
  
  @keyframes cardmove {
    50% {
      border-radius: 2rem;
      box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.25);
    }
  }
  
  .summary {
    background-color: #00a4d2;
    color: #ffffff;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 1rem;
  }
  
  .container {
    width: 100%;
    margin: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  @media (max-width: 688px) {
    .family {
      flex-direction: column;
    }
    .box {
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
      margin-top: 0.5rem;
      padding: 0.7rem;
    }
  }
  
  @media (max-width: 490px) {
    .box {
      font-size: 1.2rem;
      margin-bottom: 3.5rem;
      padding: 0.7rem;
      margin-top: 0.5rem;
    }
  }
  
  @media (min-width: 1200px) {
    .box {
      width: 50%;
      width: fit-content;
    }
  }
  
  .separate {
    height: 3.5rem;
    clear: both;
  }
  
  .mybtn {
    margin: 0.5rem;
    color: #3d4a59;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #33557c;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: all 0.5s;
  }
  
  .dark .mybtn {
    box-shadow: 0 0 10px #9e4673, 0 0 10px #9e4673, 0 0 0px #9e4673;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .mybtn:hover {
    background-color: #fc4364;
    color: #fff;
    font-size: 1.2rem;
  }
  
  .dark .mybtn:hover {
    background-color: #fc4364;
    font-size: 1.2rem;
  }
  
  .btn {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid #33557c;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    transition: all 0.5s;
  }
  
  .dark .btn {
    box-shadow: 0 0 10px #9e4673, 0 0 10px #9e4673, 0 0 0px #9e4673;
    border: 1px solid #fff;
  }
  
  .btn:hover {
    /* color: #212529; */
    text-decoration: none;
    background-color: #6c757d;
    color: #fff;
  }
  
  .dark .btn:hover {
    background-color: #fc4364;
    font-weight: bold;
  }
  
  .btn:focus,
  .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-danger {
    color: #fff;
    background-color: #33557c;
    border-color: #fc4364;
  }
  
  .dark .btn-danger {
    background-color: #9e4673;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: bold;
  }
  
  .btn-danger:focus,
  .btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  }
  
  .btn-primary {
    color: #fff;
    background-color: #33557c;
    border-color: #007bff;
  }
  
  .dark .btn-primary {
    background-color: #9e4673;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    font-weight: bold;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2.4rem;
  }
  
  /* HTML PAGE  */
  
  .html-sidebar h2,
  .html-sidebar h3,
  .html-sidebar h4,
  .html-sidebar h5,
  .html-sidebar h6 {
    padding: 10px 10px 0 0;
    font-weight: 400;
  }
  
  .html-sidebar h4:last-child {
    padding: 10px 10px 40px 0;
  }
  
  .overflow {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.9rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Advertise section */
  
  .nav-advertise {
    width: 20%;
  }
  
  @media (max-width: 1199px) {
    .nav-advertise {
      width: 30%;
      margin: 1px auto;
    }
  }
  
  .html-sidebar {
    /* width: 20%; */
    background-color: #3d4a59;
    overflow-y: auto;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1.07rem;
    border: 1px solid antiquewhite;
    padding-right: 0.5rem;
  }
  
  .html-left-section {
    width: 80%;
    padding: 1rem;
    clear: both;
  }
  
  .advertise {
    margin-top: 60px;
    background-color: #3d4a59;
    border-radius: 0.5rem;
    color: #ffffff;
    border: 1px solid antiquewhite;
    padding: 1rem;
  }
  
  @media (max-width: 1199px) {
    .html-sidebar {
      /* width: 30%; */
      border-radius: 1.5rem;
    }
    .html-left-section {
      width: 70%;
    }
  }
  
  @media (max-width: 990px) {
    .nav-advertise {
      width: 95%;
    }
    .html-sidebar {
      font-size: 1.2rem;
      border-radius: 1.5rem;
      height: 320px;
    }
    .html-left-section {
      width: 100%;
    }
    .advertise {
      display: none;
    }
    .hidden {
      display: inline;
    }
    .css-sidebar {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: auto;
    }
  }
  
  .dark .html-sidebar,
  .dark .advertise {
    box-shadow: 0 7px 93px 0 rgba(255, 131, 131, 0.47);
    background-color: rgba(255, 131, 131, 0.08);
  }
  
  /* End of advertise section */
  
  dl {
    padding: 1.5rem 0;
    line-height: 1.8rem;
    font-size: 1.35rem;
  }
  
  dt {
    font-weight: bold;
    padding-bottom: 0.5rem;
    margin-top: 4rem;
  }
  
  dd {
    font-size: 1.15rem;
  }
  
  .paragraph-bold {
    line-height: 1.9rem;
    font-size: 19px;
    font-weight: bold;
  }
  
  .title {
    margin-top: 4rem !important;
  }
  
  .html-left-section ul {
    padding: 1rem 0;
  }
  
  .h-paragraph {
    margin: 4.5rem 0 1.3rem 0;
  }
  
  .hh-paragraph {
    margin-bottom: 2.5rem;
  }
  
  .div-border {
    border: 2px solid;
    margin: 2%;
    text-align: center;
    font-size: 1.6rem;
  }
  
  .article-img {
    margin: auto;
    text-align: center;
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
  }
  
  .dark img {
    border: 1px solid lightpink;
  }
  .paragraph-bold pre {
    font-weight: normal;
    margin-bottom: 5rem;
  }
  
  .arrow {
    color: red;
    font-size: 5rem;
    position: relative;
    top: 15px;
    margin: 10px;
  }
  
  .span-block {
    display: block;
    margin-left: 3rem;
    font-size: 29px;
    line-height: 50px;
    letter-spacing: 10px;
  }
  
  .emojimove {
    animation: emoji 3s infinite;
  }
  
  @keyframes emoji {
    0%,
    100% {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
  }
  
  .logo {
    animation: logoani 25s infinite;
  }
  
  @keyframes logoani {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      letter-spacing: 7px;
      opacity: 1;
    }
  }
  
  summary {
    outline: none;
    cursor: pointer;
  }
  
  .youtube {
    border: 1px solid #fff;
    background-color: #fc4364;
    color: #fc4364;
    color: #fff;
  }
  
  .dark .youtube {
    background-color: transparent;
  }
  
  .facebook {
    border: 1px solid #fff;
    background-color: royalblue;
    color: #fff;
  }
  
  .dark .facebook {
    background-color: transparent;
  }
  
  .facebook:hover {
    border: 1px solid #fff;
    background-color: royalblue;
    color: #fff;
  }
  
  .big1 {
    font-size: 1.3rem;
  }
  
  .big2 {
    font-size: 1.5rem;
    line-height: 1.7em;
  }
  
  .big3 {
    font-size: 1.7rem;
    line-height: 1.7em;
  }
  
  .left {
    text-align: left;
  }
  
  .padding {
    padding: 1rem;
  }
  
  .link2 {
    color: royalblue;
  }
  
  .link2:hover {
    font-weight: bold;
    border-bottom: 2px solid #fc4364;
  }
  
  .dark .link2 {
    color: antiquewhite;
  }
  
  dfn {
    letter-spacing: 0.5px;
  }
  
  /* 
   codes from file 
  */
  
  .iframe-container {
    border-radius: 1rem;
    float: left;
    /* min-width: 75%; */
    margin: 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 3rem;
    width: calc(100% - 19rem);
  }
  
  .videoWrapper iframe {
    height: 45rem;
    width: 100%;
    border-radius: 1.2rem;
    border: 2px solid #777;
  }
  
  .sidebar {
    height: 45rem;
    background-color: #3d4a59;
    overflow-y: scroll;
    border-radius: 0.5rem;
    color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid antiquewhite;
    float: right;
    width: 17rem;
  }
  
  .sidebar .link-container {
    /* margin-right: 1.3rem; */
    text-decoration: none;
    list-style: none;
    margin-top: 1rem;
    line-height: 1.5rem;
  }
  
  .dark .sidebar {
    box-shadow: 0 7px 93px 0 rgba(255, 131, 131, 0.47);
    background-color: rgba(255, 131, 131, 0.08);
  }
  
  @media (min-width: 1600px) {
    .videoWrapper iframe {
      width: 67%;
    }
    .videoWrapper {
      text-align: center;
    }
  }
  
  @media (max-width: 800px) {
    .videoWrapper iframe {
      width: 99%;
      display: block;
      height: 30rem;
    }
    .sidebar {
      height: 30rem;
    }
  }
  
  @media (max-width: 600px) {
    .sidebar {
      display: block;
      width: 90%;
      height: auto;
      float: none;
      margin: 0 auto;
    }
    .iframe-container {
      width: 100%;
      margin: 2rem auto;
      display: block;
    }
    .sidebar .link-container {
      width: fit-content;
      margin: auto;
    }
  }
  