



body{
         background-color: #be7726;
         color: rgb(255 218 0);
         text-shadow: 4px 4px 4px #000;
         font-family: 'Barlow', sans-serif;
         font-family: 'Cairo', sans-serif;
         font-size: 38px;
         text-align: center;
         margin-left: 15px;


}

.titletxt{
   display: flex;
   background-color: black;
   border: 5px solid yellow;
   border-radius: 10px;
   font-size: 50px;
   justify-content: center;


}

/* .artxt{

   font-family: 'Cairo', sans-serif;
   font-size: 38px;

} */

.txtlinks{

   color: #1100ff;
   text-shadow: none;
}

.txtmarks{

   text-shadow: none;
}


.lists{
   background-color: black;
   border: 5px solid yellow;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   /* text-align: left; */
}


.outer {
   background-color: black;
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   border: 5px solid yellow;
   border-radius: 10px;
}


.inner {
   flex-wrap: wrap;
   width: 20%;
   border: 5px solid transparent;
   border-radius: 10px;
}


#pic1{
   flex-grow: 1;
}

#pic2{
   flex-grow: 1;
}

#pic3{
   flex-grow: 1;
}

#pic4{
   flex-grow: 1;
}

/* width */
::-webkit-scrollbar {
   width: 20px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 80px;
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: rgb(255 218 0);
   border-radius: 80px;
   border: 1px double black;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #be7726; 
   box-shadow: inset 0 0 5px grey; 
   
 }



